@import "tailwindcss";

.card{
    @apply p-8 shadow-md rounded-3xl w-sm m-auto mt-8 bg-white border-gray-500 
}

.card-res{
    @apply bg-white rounded-4xl p-6 shadow-md m-auto  md:w-1/2 md:grid-cols-4 md:grid-rows-6 md:my-8

}
.head{
    @apply flex justify-between items-center
}
.resume{
    @apply w-full md:flex md:justify-between md:w-full
}
.ubicacion{
    @apply flex flex-col justify-around items-start w-full gap-3 py-4
}
.icon{
    @apply w-26 h-26 object-cover rounded-full shadow-2xl p-2
}
.temperatura{
    @apply my-4 flex justify-center items-center gap-2
}
.statics{
    @apply grid grid-cols-2 gap-6 mt-25 mb-8 md:flex md:justify-between md:mt-8
}
.static-feature{
    @apply text-xs uppercase text-slate-400 font-bold
}
.prevision-card{
    @apply bg-slate-100 rounded-full flex justify-between px-4 py-2 items-center font-bold
}
.prev-img{
    @apply w-10 h-10 rounded-full
}
.sufix{
    @apply flex justify-between text-slate-500 w-full mt-10 font-bold
}
.previsiones{
    @apply flex flex-col gap-4
}
.altas{
    @apply text-rose-600 font-bold
}
.bajas{
    @apply text-slate-500 font-bold
}