 /*
 Blue #8eb2c0
 Cream #f3f6f0
 Charcoal #355360
 Cognac #8a6460
 palette Along the Shore: https://www.canva.com/colors/color-palettes/along-the-shore/
 
 */

body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
main{
    width: 60%;
    margin: auto;
}
h1{
    text-align: center;
    width:100vw ;
    background-color: #355360;
    color: white;
    padding: 0.5em;
}
h2{
    border-bottom: solid 5px #8a6460;
    margin: 0;
    padding: 1em;
    width: 100%;
    background-color: #f3f6f0;
}
h3{
    color: #8a6460;
}
.paleta{
    margin: auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px gray;
    padding: 1em;
}
.paleta div{
    border: solid 1px gray;
}
img{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
}
