body{
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: lightblue;
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
}
@media (max-width: 620px){
    main{
        width: 100%;
    }

}