body{
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: lightblue;
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
}
.back{
    text-decoration: none;
    padding: 0.5em;
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.61);
    position: fixed;
    top: 1em;
    left: 1em;
    border: lightgray 4px solid;
    z-index: 100;
    cursor: pointer;
}

@media (max-width: 620px){
    main{
        width: 100%;
    }

}