 body{
            text-align: center;
            background-color:lightslategray;
        }
        header{
            border: solid 2px;
            border-radius: 20px;
            background-color: rgb(83, 95, 107);
        }
        header>h3{
            background-color: goldenrod;
            color: white;
            padding: 10px;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
        }
        main{
            display: flex;
            flex-direction: column;
        }
        article{
            /*border: solid 4px;*/
            display: flex;
            padding: 20px;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            /*width: 2000px;*/
        }
        div{
            /*border: solid red 2px;*/
            display: flex;
            flex-direction: column;
           
            align-items: center;
            width: 100%;
            height: 800px;
            text-align: center;
        }
        img{
            width: 100%;
            /*height: 100%;*/
        }
        div>h3{
            /*border: solid green 2px;*/
            border-radius: 10px;
            padding: 20px;
            width: 50%;
            font-size: 1.5em;
            color: white;
            background-color: rgb(84, 96, 109);
            font-family: Arial, Helvetica, sans-serif;
            
        }
        p{
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
        }