header{
    box-sizing: border-box;
    grid-area: header;
    /* height: 100%; */
    background: linear-gradient(90deg,rgb(64, 190, 39), green);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.781);
    border-bottom: rgb(182, 255, 65) solid 5px;
}
header>div{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg,rgb(183, 240, 109), rgb(141, 209, 63));
    color: black;
    display: flex;
    justify-content: center;
    /* padding: 1em; */
}
nav{
    /* min-height: 60%; */
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    justify-content: space-around;
   /*  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.781); */
}
nav h1{
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    padding: 0.5em;
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 0;

}
nav li a{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav li a:hover{
    color: rgb(255, 255, 143);
    font-size: 1.3em;
    cursor: pointer;
}

.menu-toggle, .menu-button {
    display: none;
}

@media (max-width: 620px) {
    
    header {
        
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
/*Este es el boton del menú*/
    .menu-button {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        cursor: pointer;
        padding: 1em;
        background-color: rgb(64, 190, 39); 
        color: white;
        font-weight: bold;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.2em;
        
    }
    .menu-button:hover{
        font-size: 1.25em;
        color: rgb(255, 242, 128);
    }
    
    
    nav {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    
    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: rgba(45, 45, 45, 0.9); 
        position: absolute;
        top: 10vh; 
        left: 0;
        z-index: 50; 
    }
    
    nav ul li {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    nav ul li a {
        display: block;
        padding: 15px;
        color: white;
    }
    
    
    .menu-toggle:checked ~ nav ul {
        display: flex; 
    }
    
    
    header > div {
        order: 2;/*ppr si acaso*/
        width: 100%;
    }
}

