header{
    box-sizing: border-box;
    grid-area: header;
    /* height: 100%; */
    background: linear-gradient(90deg,rgb(64, 190, 39), green);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.781);
    border-bottom: rgb(182, 255, 65) solid 5px;
}
header>div{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg,rgb(183, 240, 109), rgb(141, 209, 63));
    color: black;
    display: flex;
    justify-content: center;
    /* padding: 1em; */
}
nav{
    /* min-height: 60%; */
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    justify-content: space-around;
   /*  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.781); */
}
nav h1{
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    padding: 0.5em;
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 0;

}
nav li a{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}
nav li a:hover{
    color: yellow;
    cursor: pointer;
}

.menu-toggle, .menu-button {
    display: none;
}

@media (max-width: 620px) {
    
    header {
        
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
/*Este es el boton del menú*/
    .menu-button {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        cursor: pointer;
        padding: 1em;
        background-color: rgb(64, 190, 39); 
        color: white;
        font-weight: bold;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.2em;
        
    }
    .menu-button:hover{
        font-size: 1.25em;
        color: rgb(255, 242, 128);
    }
    
    
    nav {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    
    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: rgba(45, 45, 45, 0.9); 
        position: absolute;
        top: 10vh; 
        left: 0;
        z-index: 50; 
    }
    
    nav ul li {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    nav ul li a {
        display: block;
        padding: 15px;
        color: white;
    }
    
    
    .menu-toggle:checked ~ nav ul {
        display: flex; 
    }
    
    
    header > div {
        order: 2;/*ppr si acaso*/
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        padding: 0.5em;
    }
    
}

.actual {
    color: yellow;
}

/* Colores específicos por unidad */
header.ud1 {
    background: linear-gradient(90deg, rgb(39, 120, 190), blue);
    border-bottom: rgb(100, 180, 255) solid 5px;
}

.ud1 > div {
    background: linear-gradient(90deg, rgb(150, 200, 250), rgb(100, 160, 230));
}

.ud2 {
    background: linear-gradient(90deg, rgb(220, 100, 40), darkorange);
    border-bottom: rgb(255, 180, 100) solid 5px;
}

.ud2 > div {
    background: linear-gradient(90deg, rgb(255, 200, 150), rgb(240, 160, 100));
}

.ud3 {
    background: linear-gradient(90deg, rgb(140, 50, 200), purple);
    border-bottom: rgb(200, 130, 255) solid 5px;
}

.ud3 > div {
    background: linear-gradient(90deg, rgb(220, 180, 255), rgb(180, 130, 230));
}

.ud4 {
    background: linear-gradient(90deg, rgb(40, 150, 180), darkcyan);
    border-bottom: rgb(100, 220, 240) solid 5px;
}

.ud4 > div {
    background: linear-gradient(90deg, rgb(150, 230, 240), rgb(100, 190, 210));
}

.ud5 {
    background: linear-gradient(90deg, rgb(200, 50, 150), deeppink);
    border-bottom: rgb(255, 150, 200) solid 5px;
}

.ud5 > div {
    background: linear-gradient(90deg, rgb(255, 180, 220), rgb(230, 130, 180));
}

.ud6 {
    background: linear-gradient(90deg, rgb(255, 210, 90), rgb(235, 180, 40));
    border-bottom: rgb(255, 195, 70) solid 5px;
}

.ud6 > div {
    background: linear-gradient(90deg, rgb(255, 235, 160), rgb(250, 205, 90));
}


/* Colores del botón menú móvil por unidad */
@media (max-width: 620px) {
    .ud1 .menu-button {
        background-color: rgb(39, 120, 190);
    }

    .ud2 .menu-button {
        background-color: rgb(220, 100, 40);
    }

    .ud3 .menu-button {
        background-color: rgb(140, 50, 200);
    }

    .ud4 .menu-button {
        background-color: rgb(40, 150, 180);
    }

    .ud5 .menu-button {
        background-color: rgb(200, 50, 150);
    }
}
