.media{
    width: 80%;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}