/* paleta AFTERNOON DELIGHT
https://www.canva.com/colors/color-palettes/afternoon-delight/
teal #BCDBDA
Aquamarine #58BAD3
Brown #814827
Champagne #EDBE6E
*/

/*paleta BACK FROM ELSEWHERE
https://www.canva.com/colors/color-palettes/back-from-elsewhere/
Khaki #A28658
Pewter #DCDBDB
Carafe #64452E
Black #3D362A
*/


/* *{
    color: #3D362A;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body{
    background-color: #BCDBDA;
    padding: 0;
    margin: 0;
    width: 100%;
} */
@media (max-width: 900px) {
    /* header {
        width: 100% !important; 
        position: relative;                
        flex-direction: row;    
    } */

   /*  nav {
        width: 100% !important; 
        flex-direction: column;  
    } */

   /*  section {
        width: 90% !important; 
    }
    main{
        width: 100%;
    } */
    article{
        overflow: auto!important;
        margin: 0;
    }
    table{
        overflow: auto;
    }
}

/* h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;

}
h3{
    margin: 10px;
    font-size: 1.5em;
} */
hr{
    margin: 6%;
}
p{
    margin-top: 10px;
    margin-bottom: 10px
}
article{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* header{
    position: fixed;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100px;
    
} */
/* header div{
    background-color: #64452e;
    width: 100%;
    height: 80%;
    padding: 30px;
    
    font-size: 2em;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
} */
/* nav{
    font-size: 1.5em;
    font-weight: bolder;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #EDBE6E;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center; */
    
    /* position: relative; */
    /* left: 0px; */
    /* height: 20%;
} */
/* nav ul{
    list-style: none;
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
} */
/*Aqui voy a construir el dropdown con mucho cuidado porque es complejo*/
/* #dropdown{
    display: none;
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    left: 0px;
    
} */
/* #dropdown li{
    padding-bottom: 5px;
    padding-top: 5px; */
   /*  padding-left: 30px;
    padding-right: 30px; */
    /* text-align: center;
    border-bottom: #BCDBDA solid 1px;
    border-top: #BCDBDA solid 1px;
    font-size: 0.4em;
    

} */
/* #dropdown li a:hover{
    font-size: 1.1em;
    color: gray;
} */
/* #dropdown a{
    color: #64452e;
    text-decoration: none;
} */
/* nav ul li:hover #dropdown{
    display: block;
} */
/* nav ul li:hover{
    font-size: 1.1em;
    color: #6d5039;
} */

/* main{
    padding-top: 100px;
} */
/* section{ */
    /* text-align: center; */
/*     width: 60%;
    background-color: white;
    margin: auto;
    border-radius: 4px;
    padding: 5%;
    box-shadow: 2px 2px 10px lightslategray;
    
} */
table {
    text-align: center;
    margin: auto;
    border: 1px solid #3D362A;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #3D362A;
    padding: 10px 15px;
}
/*EJERCICIOS*/
/*EJERCICIO 01*/
#a1 p:first-of-type{
    border-top: solid 1px black;

}
#a1 p:last-of-type{
    border-bottom: solid 1px black;
}

/*EJERCICIO 02*/
#a2 ol:first-of-type li:nth-child(even){
    text-decoration: underline;
}
#a2 ol:first-of-type li:nth-child(odd){
    text-decoration: line-through;
}
#a2 ol:nth-of-type(2) li:nth-child(4n){
    color: green;
}
/*EJERCICIO 03*/
#a3 p strong:first-of-type{
    color: #64452e;
    font-size: 1.5em;
    /* font-style: italic; */

}
#a3 p em:first-of-type{
    color: #A28658;
    font-size: 1.5em;
  /*   font-style: italic; */

}

/*EJERCICIO 04*/
#a4 table tr:only-child th{
    background-color: #EDBE6E;
}

/*EJERCICIO 05*/
#a5 td:empty{
    background-color: #EDBE6E;
}

/*EJERCICIO 06*/
#a6 ol{
    margin: auto;
    padding-left: 50%;
}
#a6 li::first-letter{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: #3D362A;
    text-decoration: underline;
}

/*EJERCICIO 07*/
#a7 p::before{
    content: "-";
}

/*EJERCICIO 08*/
#a8 ol{
    margin: auto;
    padding-left: 30%;
}
#a8 ol>li{
    color: #64452e;
    font-size: 1.2em;
    font-weight: bold;
}
#a8 ol ul li{
    color: #A28658;
    /* font-style: italic; */
}

/*EJERCICIO 09*/
#a9 p:first-of-type{
    text-indent: 15%;
}

/*EJERCICIO 10*/
#a10 div h1 {
    font-size: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#a10 div h2 {
    font-size: 30px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

#a10 div h3 {
    font-size: 25px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#a10 div h4 {
    font-size: 20px;
    text-align: center;
}

#a10 div h5 {
    font-size: 15px;
    text-align: center;
}

#a10 div h6 {
    font-size: 10px;
    text-align: center;
}

/*EJERCICIO 11*/
/* #a11 p{
    color: green;
    text-align: center;
} */
#a11 p{
    color: darkred;
    text-align: center;
}

/*Ejercicio 12*/
#a12 div h1{
    letter-spacing: 8px;
    word-spacing: 8px;
    text-transform: uppercase;
}
#a12 div h2{
    letter-spacing: 6px;
    word-spacing: 6px;
    text-transform: uppercase;
}
#a12 div h3{
    letter-spacing: 4px;
    word-spacing: 4px;
    text-transform: uppercase;
}

/*EJERCICIO 13*/
#a13 a{
    text-align: center;
    margin: auto;
}
#a13 a:hover{
    font-size: 40px;
    background-color: #EDBE6E;
}

/*EJERCICIO 14*/
#a14 a{
    text-decoration: line-through;
}

/*EJERCICIO 15*/
#a15 p{
    margin: 0px;
    padding: 10px;
}
#a15 p:first-of-type{
border-radius: 5px;
background-color: #000;
}
#a15 p:nth-of-type(2){
    border-radius: 5px;
background-color: #111;
}
#a15 p:nth-of-type(3){
    border-radius: 5px;
background-color: #222;
}
#a15 p:nth-of-type(4){
    border-radius: 5px;
background-color: #333;
}
#a15 p:nth-of-type(5){
    border-radius: 5px;
background-color: #444;
}
#a15 p:nth-of-type(6){
    border-radius: 5px;
background-color: #555;
}
#a15 p:nth-of-type(7){
    border-radius: 5px;
background-color: #666;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #777;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #888;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #999;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #aaa;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #bbb;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #ccc;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #ddd;
}
#a15 p:nth-of-type(8){
    border-radius: 5px;
background-color: #eee;
}
#a15 p:last-of-type{
    border-radius: 5px;
background-color: #fff;
}

/*EJERCICIO 16*/
#a16 table tbody tr:nth-child(odd) td{
    background-color: #BCDBDA;
    color: white;
}
#a16 table tbody tr:nth-child(even) td{
    background-color: #EDBE6E;
}

/*EJERCICIO 17*/
#a17 div{
    display: flex;
    width: 100%;
    height: 200px;
}
/* #a17 div{
    flex: 1;
    height: 150px;
} */
#a17 div div:first-of-type{
    border-radius: 5px;
    text-align: center;
    width: 50%;
    background-color: #6d5039;
}
#a17 div div:nth-of-type(2){
    border-radius: 5px;
    text-align: center;
    width: 30%;
    background-color: #BCDBDA;
}
#a17 div div:last-of-type{
    border-radius: 5px;
    text-align: center;
    width: 20%;
    background-color: #EDBE6E;
}

/*EJERCICIO 18*/
#a18 div {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto);   
  gap: 10px; 
  padding: 10px;
}

#a18 div div {
  border: 1px solid #ccc; 
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
}

/*EJERCICIO 19*/
#a19 p{
    text-indent: 2em;
    line-height: 1.8;
    text-align: justify;
    /* font-style: italic; */
}

/*EJERCICIO 20*/
#a20 div h3:first-of-type{
    text-transform: uppercase;
}
#a20 div h3:nth-of-type(2){
    text-transform: lowercase;
}
#a20 div h3:last-of-type::first-letter{
    text-transform: uppercase;
}

/*EJERCICIO 21*/
#card{
    margin-left: 20%;
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: #444 solid 1px;
    box-shadow: #666 1px  1px 5px;
    background-image: url("../images/tile.jpg");
}
#card h1{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#card p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #000;
}

/*EJERCICIO 22*/
#a22 div{
    border-radius: 5px;
    padding: 20px;
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: 20%;
    font-size: 0.8em;
}

/*EJERCICIO 23*/
.dwes{
    background-color: #BCDBDA
    ;
}
.deint{
    background-color: #58BAD3;
}
.dwec{
    background-color: #6d5039;
    color: white;
}
.py{
    background-color: #EDBE6E;
}
.despl{
    background-color: #777;
    color: white;
}
.ipe{
    background-color: #A28658;
    color: white;
}
.ipgs{
   background-color: #dcdbdb; 
}
.proye{
    background-color: #555;
    color: white;
}
.rc{
    background-color: #3D362A;
}
#a23 table {
  border-collapse: separate;
  border: solid 1px #888; 
  border-spacing: 0;          
  border-radius: 10px;
  overflow: hidden;  
  font-size: smaller; 
  box-shadow: #aaa 1px 1px 5px;    
}
#a23 table tbody tr td{
    /* font-style: italic; */
    font-family: 'Times New Roman', Times, serif;
}

/*EJERCICIO 24*/
#a24 p span:nth-of-type(odd){
color: #58BAD3;
font-weight: bold;
}

/*EJERCICIO 25*/

#a25 div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#a25 button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
#a25 button:hover{
    background-color: #58BAD3;
    border: 1px solid;
    border-radius: 2px;
    transition-duration: 0.5s;
}
#a25 button:active{
    background-color: rgb(122, 228, 122);
    transition-duration: 0.5s;
}

/*EJERCICIO 26*/
#a26 div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#a26 div > ol{
    list-style-type: upper-roman;
}

#a26 ol ol{
    margin-left: 10%;
    list-style-type:lower-alpha
}
#a26 ol ol ul{
    
    margin-left: 20%;
    list-style-type:square;
}
#a26 > ol li{
    color: #3D362A;
}

#a26 ol ol li{
    color: #A28658;
   
}
#a26 ol ol ul li{
    color: #58BAD3;

}

/*EJERCICIO 27*/
#a27 div{
    width: 100%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
#a27 a:link{
    padding: 20px;
    color: #58BAD3;
    text-decoration: underline;
}
#a27 a:visited{
    color: purple;
    text-decoration: none;
}
#a27 a:hover{
    background-color: #EDBE6E;
    color: #111;
}
#a27 a:active{
    color: darkred;
}

/*EJERCICIO 28*/
#a28 table{
    width: 100%;
}
#a28 table thead tr th{
    background-color: #EDBE6E;
}
#a28 table tbody tr td{
    font-family: 'Times New Roman', Times, serif;
    /* font-style: italic; */
}

/*EJERCICIO 29*/
#a29 div ul {
    position: relative;
    left: 0;
    display: flex;
    gap: 1em;
    margin: 0;            
    padding: 0;            
    width: 800px;          
    background-color: #64452e;
    list-style: none; 
    justify-content: center;
    align-items: center;
    font-size: 1em;     
    }
#a29 div ul li, a{
    padding: 0.5em;
    color: #dcdbdb;
    text-decoration: none;
    font-weight: bold;
    /* font-style: italic; */
    
}
#a29 div ul li a:active{
    color: #58BAD3;

}

#a29 div ul li a:hover{
    color: #58BAD3;

}
#a29 div ul li a:target {
    font-weight: bold;
    text-decoration: underline;
    color: #58BAD3;
}
.activo{
    font-weight: bolder;
    text-decoration: underline;
}

/*EJERCICIO 30*/
#a30 form {
    max-width: 600px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

#a30 form label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}


#a30 form input[type="text"],
#a30 form input[type="email"],
#a30 form textarea {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    color: #222;               
    border: 1px solid #888;    
    border-radius: 5px;
    box-sizing: border-box;     
    
}


#a30 form input[type="text"]:hover,
#a30 form input[type="email"]:hover,
#a30 form textarea:hover,
#a30 form input[type="text"]:focus,
#a30 form input[type="email"]:focus,
#a30 form textarea:focus {
    border-color: #EDBE6E; 
    outline: none;         
}

#a30 form textarea {
    height: 8em;
}


#a30 form button {
    margin-top: 1.5em;
    padding: 0.8em 2em;
    font-size: 1rem;
    background-color: #64452e; 
    color: #fff;              
    border-radius: 5px; 
    border: none;    
}


#a30 form button:hover {
    background-color: #855c45;
}

