body{
   font-family: "oswald";
   margin:0;
   padding: 0;
}
input[type='checkbox']{
    visibility: hidden;
}
.boton{
    display: inline-block;
    color: white;
    font-size: 1.5em;
    background-color: rgb(55, 161, 20);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 2px gray;
}
.boton:hover{
    cursor: pointer;
}
.cortinilla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("https://picsum.photos/1920/1080?random=1");
    text-align: center;
    background-attachment: fixed;
    width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: transform 1s ease-out;
    z-index: 20;
}
.contenido-principal{
    text-align: center;
    margin-top: 100px;
    margin: auto;
    opacity: 0;
    height: 40vh;
    width: 50vw;
    z-index: 10;
    transform: translateY(50px) !important;
    transition:transform 4s ease-out, opacity 4s ease-out;
    transition-delay: 0.6s;

}
input[type='checkbox']:checked ~ .cortinilla{
    transform: translatey(-100%);
}
input[type='checkbox']:checked ~ .contenido-principal{
    opacity: 100%;
    transform: translatey(10px) ;
    
}

