body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
    margin: 0;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.grid-1{
    width:800px;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
    margin-bottom: 2em;
}

.item1{
    background-color: rgb(255, 63, 63) !important;
    grid-column: 1/3;
}
.grid-1 div{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2{
    background-color: rgb(231, 192, 17);
    color: black;
    grid-column: 3;
    grid-row: 1/3;
    
}
.item3{
    background-color: rgb(75, 138, 255);
}
.item4{
    background-color: rgb(75, 138, 255);
}
.item5{
    background-color: rgb(75, 138, 255);
}
.item6{
    background-color: rgb(140, 43, 140);
    grid-column: 1/4;
}

/*EJERCICIO 2: USARE GRID AREA*/

.grid-2{
    border: solid;
    margin-top: 2em;
    margin: auto;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-areas: 'a a c d'
    'b b b d'
    'e e f g'
    'e e h h'
    'i j k m'
    'n j . .'
    'l l l .'
    ;

}
.grid-2 div{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.it1{
    grid-area: a;
    background-color: rgb(204, 97, 3);

}
.it2{
    grid-area: b;
    background-color: rgb(103, 20, 103);
    
}
.it3{
    grid-area: c;
    background-color: rgb(41, 41, 57);
    
}
.it4{
    grid-area: d;
    background-color: rgb(30, 163, 70);
    
}
.it5{
    grid-area: e;
    background-color: rgb(181, 0, 24);
    
}
.it6{
    grid-area: f;
    background-color: rgb(41, 41, 57);
    
}
.it7{
    grid-area: g;
    background-color: rgb(41, 41, 57);
    
}
.it8{
    grid-area: h;
    background-color: rgb(204, 97, 3);
    
}
.it9{
    grid-area: i;
    background-color: rgb(41, 41, 57);
    
}
.it10{
    grid-area: j;
    background-color: rgb(30, 163, 70);
    
}
.it11{
    grid-area: k;
    background-color: rgb(41, 41, 57);
    
}
.it12{
    grid-area: l;
    background-color: rgb(103, 20, 103);
    
}
.it13{
    grid-area: m;
    background-color: rgb(41, 41, 57);
    
}
.it14{
    grid-area: n;
    background-color: rgb(41, 41, 57);
    
}
/* .none{
    grid-area: non;  
} */

