/*EJERCICIO 6.1*/

/* body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    text-align: center;
} */
article{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:500px;
    text-align: center;
    margin: auto;

}
.latido{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: latir ease-in 2s infinite alternate ;
    
}
/* .latido2{
    background-color: red;
    height: 200px;
    width: 200px;
    opacity: 0.8;
    border-radius: 50%;
    animation: latir2 ease-in-out 2s infinite ;

} */

@keyframes latir{
    0%{
        /* opacity: 1; */
        transform: scale(1);

    }
    100%{
        opacity: 0;
        transform: scale(1.5);
        box-shadow: 0 0 5px 20px rgba(255, 0, 0, 0.80);

    }
}

@keyframes latir2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/*EJERCICIO 6.2*/

#barra{
    width: 40%;
    border: solid 4px gray;
    height: 10%;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
}
#relleno{
    background-color: lightskyblue;
    width: 100%;
    animation: llenar 3s ease-in-out infinite;
}
@keyframes llenar{
    0%{
        background-color: rgb(87, 250, 196);
        width: 0%;
    }

    100%{
        width: 100%;
    }
}