/* body{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    text-align: center;
} */
main article div{
    margin: 20px;
    box-sizing: border-box;
}
#background{
    background-color: white;
    width: 100%;
    height:60vh;
    padding: 20px;
    margin: auto;
    text-align: center;
    
}
#cyan{
    background-color: rgba(78, 161, 194, 0.856);
    width: 30%;
    height: 20%;
    float: left;
    
}
#purple{
    background-color: rgba(139, 67, 206, 0.767);
    width: 30%;
    height: 20%;
    float: left;
}
#coral{
    background-color: rgba(221, 53, 53, 0.87);
    width: 30%;
    height: 50%;
    float: left;
}
#yellow{
    background-color: rgba(255, 230, 90, 0.795);
    width: 30%;
    height: 20%;
    float: left;
}
#esmerald{
    background-color:rgba(0, 255, 157, 0.911);
    width: 30%;
    height: 20%;
    float: left;
}
#orange{
    background-color: rgba(250, 183, 59, 0.877);
    width: 30%;
    height: 20%;
    float: left;

}
#pink{
    background-color: rgba(252, 98, 98, 0.884);
    width: 30%;
    height: 20%;
    float: left;

}