/* body{
    
    
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    margin: 0;
} */
#c1{
    width: 60vw;
    height: 70vh;
    background-color:white;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    margin: auto;
}
#c2{
    height: 75%;
    width: 85%;
    background-color:rgba(255, 229, 80, 0.671);
    position: absolute;
    left: 2em;
    top: 2em;
    border: solid 2px rgba(255, 225, 89, 0.863);
    z-index: 2;
}
#c3{
    background-color: rgb(253, 222, 211);
    width: 10em;
    height: 10em;
    position: relative;
    left: 1em;
    top: 1em;
    border: 3px coral dashed;

}
#c4{
    
    background-color: rgb(255, 49, 49);
    border: solid 2px rgb(226, 29, 29);
    color: white;
    z-index: 10;
   
    align-items: center;
    font-size: 1.5em;
    position: absolute;
    top: -0.8em;
    right: 6em;
    padding: 10px 20px 10px 20px;
}
#c5{
    width: 100%;
    height: 25%;
    background-color: rgb(78, 78, 78);
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-top: 2px rgb(255, 68, 0) solid;
}
#c6{
    background-color: rgba(37, 230, 255, 0.493);
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0px;
    top: -1px;
    z-index: 5;
    border: 1px solid;
}
/* footer{
    margin: 0;
    width: 100vw;
    height: 50px;
    background-color: rgb(79, 81, 90);
    position: absolute;
    bottom: 0px;   
   


} */
