
body{
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
/*EJERCICIO 2*/
nav{
    display: flex;
    align-items: center;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(51, 51, 51);
    color: rgb(183, 255, 202);
}
nav> div{
    background-color: rgb(77, 77, 77);
    color: white;
    padding: 0.5em;
    margin: 0.2em;
}
nav> h3{
    margin: 0.3em;
}
/*_____________________________________________________*/
/*EJERCICIO 1*/

#a1{
    background-color: lightgray;
    border: 2px solid;
    gap: 1em;
    padding: 5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#a1 div{
    background-color: lightcoral;
    border: 1px crimson solid;
    padding: 2em;
    text-align: center;
    font-weight: bold;
}
/*_____________________________________________________*/
/*EJERCICIO 3*/
#a3{
    box-sizing: border-box;
    /* height: 15%; */
    margin: 1em;
    background-color: lightgray;
    border: 2px solid rgb(95, 222, 184);
    display: flex;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}
#a3 div{
    background-color: white;
    height: 100%;
    flex-grow: 1;
    border: 1px rgb(255, 113, 142) solid;
    border-radius: 8px;
    padding: 1em;
}

/*_____________________________________________________*/
/*EJERCICIO 4*/

#a4{
    margin: auto;
    border:  solid;
    display: flex;
    flex-direction: column;
    width: 40%;
}
#barraMensajes{
    display: flex;
    gap: 0.5em;
    order: 2;
    padding: 1em;
    border-top: 1px solid lightslategray;
    flex-grow: 1;
}
#barraMensajes input{
    flex-grow: 1;
}
#chat{
    background-color: white;
}
button{
    background-color: rgb(57, 126, 176);
    color: white;
    padding: 5%;
    border: 0px;
    flex-shrink: 4;
    
}

